# Node and Composer dependencies
node_modules/
vendor/

# Docker files
db_data/
wordpress/
*.sql

# WordPress-specific files
wp-content/uploads/
wp-content/cache/
wp-config.php.local

# Editor files
*.swp
*.swo

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
